@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/Montserrat-Regular.woff") format('woff');
    font-weight: normal;    /* font-weight of 400; */
}

@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/Montserrat-Light.woff") format('woff');
    font-weight: lighter;
}

@font-face {
    font-family: "montserrat-semibold";
    src: url("../fonts/Montserrat-SemiBold.woff") format('woff');
    font-weight: 600;
}

.row {margin: 1em 0em 1em 0em;}
.clearfix {clear: both;}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-item {
    width: 300px;
    float: left;
    margin: 10px;
    display: block;
    min-height: 280px;
    max-height: 400px;
}

.content-item .footer {
    position: absolute;
    bottom: 12px;
}

div.footer span.footer-stat {
    margin: 0 10px 0 0;
    font-size: 13px;
}
